/**
 * Social Media List on the Sidebar
 */
.social-media-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: small;
}
.icon > svg {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle; 
}
.icon > svg path {
  fill: #828282;
}

/*
 * Social media buttons on post page
 */
.share-buttons {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: small;
}

/**
 * About me portrait
 */
img.portraint {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: none;
}
